.about {
    @include res("margin-bottom", 96px);
    &__topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include res("margin-bottom", 24px);

        span {
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ebebeb;
            font-weight: 400;
            @include res("height", 44px);
            width: auto;
            @include res("border-radius", 44px);
            @include res("font-size", 17px);
            @include res("padding-left", 16px);
            @include res("padding-right", 16px);
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-weight: 400;
            color: rgba(38, 136, 235, 1);
            border: 1px solid rgba(255, 255, 255, 1);
            background: linear-gradient(81.45deg, #EAFFFE -4.31%, rgba(231, 245, 255, 0.8) 99.12%);
            @include res("height", 44px);
            @include res("padding-left", 16px);
            @include res("padding-right", 16px);
            @include res("border-radius", 44px);
            @include res("font-size", 17px);

            img {
                 @include res("margin-left", 10px);
                 @include res("padding", 4px);
                 @include res("width", 28px);
                 @include res("height", 28px);
                 box-shadow: 0px 7px 44px 0px rgba(41, 127, 255, 0.12);
                 border-radius: 50%;
            }
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
    }

    &__main-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include res("margin-bottom", 32px);
    }

    &__main-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__main-text {
        color: $white;
    }

    &__main-subtext {
        color: rgba(41, 127, 255, 1);
    }

    &__main-top-text {
        @include res("width", 792px);
        @include res("font-size", 40px);
        @include res("line-height", 48px);
        font-weight: 500;
        display: flex;
        flex-wrap: wrap;
        color: $white;
    }

    &__main-card {
        @include res("width", 390px);
        @include res("height", 220px);
        @include res("border-radius", 24px);
        position: relative;
        background: rgba(41, 127, 255, 1);
        color: $white;
        overflow: hidden;

        img {
            position: absolute;
            z-index: 1;
        }

        p {
            @include res("font-size", 27px);
            color: $white;
            font-weight: 700;
            position: absolute;
            @include res("left", 24px);
            @include res("line-height", 34px);
            @include res("bottom", 24px);
            @include res("width", 270px);
            z-index: 2;
        }
    }

    &__main-card-img:nth-child(1) {
        @include res("right", 0px);
        @include res("bottom", 0px);
        @include res("width", 364px);
        @include res("height", 189px);
        object-fit: none;
    }
    &__main-card-img:nth-child(2) {
        @include res("right", -52px);
        @include res("bottom", 30px);
        @include res("width", 247px);
        @include res("height", 159px);
        object-fit: none;
    }
    &__main-card-img:nth-child(3) {
        @include res("right", -21px);
        @include res("bottom", 25px);
        @include res("width", 247px);
        @include res("height", 159px);
        object-fit: none;
    }
    &__main-card-img:nth-child(4) {
        @include res("right", -20px);
        @include res("bottom", 10px);
        @include res("width", 247px);
        @include res("height", 159px);
        object-fit: none;
    }
}
