// Шапка
.header {
    @include media(576){
        border-bottom: solid #fff;
        @include resa('border-width', 1px);
    }
    &__logo {
        @include res("width", 50px);
        @include res("height", 42px);
    }

    &__nav {
        display: flex;
        align-items: center;
        color: $white;
        a {
            text-decoration: none;
            @include res("gap", 24px);
            @include res("margin-left", 64px);
            @include res("font-size", 17px);
            @include res("line-height", 20px);
        }
    }

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include res("width", 888px);
        @include res("padding-top", 37px);
        @include res("padding-bottom", 37px);
        margin: 0 auto;
        @include media(576){
            @include resa("padding-top", 13px);
            @include resa("padding-bottom", 13px);
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btn {
        color: $white;
        background-color: #2B73DC;
        @include res("border-radius", 42px);
        @include res("height", 42px);
        @include res("padding", 16px);
        @include res("padding-top", 10px);
        @include res("padding-bottom", 10px);
        font-weight: 400;
        @include res("font-size", 17px);
        @include res("line-height", 21.5px);
        @include res("letter-spacing", -0.4px);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__inner-burger {
        display: none;
    }

    @media screen and (max-width:576px) {
        .header__inner a{
            @include resa('margin-right', 35px);
        }
        .header__logo{
            margin-right: 0;
        }
        
        &__main {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__nav {
            display: none;
        }
        
        &__inner-burger {
            display: block;
            @include resa("margin-right", 68px);

            img {
                @include resa('width', 32px);
                @include resa('height', 32px);
            }
        }

        &__btn {
            @include resa('font-size', 16px);
            @include resa('height', 42px);
            @include resa('border-radius', 42px);
            @include resa('padding-top', 10px);
            @include resa('padding-bottom', 10px);
            @include resa('padding-left', 16px);
            @include resa('padding-right', 16px);
        }

        &__main {
            width: 100%;
        }

        &__logo {
            @include resa('width', 40px);
            @include resa('height', 34px);
            @include resa('margin-right', 35px);
        }

        &__inner {
            justify-content: space-between;
            flex: 1 auto;
        }
    }
}