.popupProduct {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 200ms;

    &.active {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }

    &-back {
        position: absolute;
        transform: translate(100%, -100%);
        background-color: #297FFF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include res('top', 40px);
        @include res('right', 40px);
        @include res('width', 56px);
        @include res('height', 56px);

        svg {
            @include res('width', 32px);
            @include res('height', 32px);
        }

        @include media(576){
            @include resa('top', 40px);
            @include resa('right', 52px);
            @include resa('width', 56px);
            @include resa('height', 56px);

            svg {
                @include resa('width', 32px);
                @include resa('height', 32px);
            }
        }
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .8;
    }

    &-inner {
        position: relative;
        background-color: #E8ECED;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include res('width', 792px);
        @include res('height', 495px);
        @include res('border-radius', 32px);
        @include res('padding', 32px);

        @include media(576){
            background-color: white;
            @include resa('width', 376px);
            @include resa('border-radius', 32px);
            @include resa('padding', 20px);
            height: 90vh;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }

    &-left {
        .gallery-top {
            overflow: hidden;
            border: solid #B8C4D7;
            background-color: white;
            @include res('border-width', 1px);
            @include res('width', 320px);
            @include res('height', 320px);
            @include res('margin-bottom', 16px);
            @include res('border-radius', 31px);

            @include media(576){
                @include resa('border-width', 1px);
                @include resa('width', 240px);
                @include resa('height', 240px);
                @include resa('margin-bottom', 16px);
                @include resa('border-radius', 31px);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .gallery-thumbs {
            background-color: #fff;
            overflow: hidden;
            border: solid #B8C4D7;
            @include res('border-width', 1px);
            @include res('width', 320px);
            @include res('height', 80px);
            @include res('border-radius', 20px);
            @include res('padding', 8px);

            @include media(576){
                @include resa('border-width', 1px);
                @include resa('width', 240px);
                @include resa('height', 64px);
                @include resa('border-radius', 20px);
                @include resa('padding', 8px);
            }

            .swiper-slide {
                @include res('width', 80px);
                @include res('height', 64px);

                @include media(576){
                    @include resa('width', 56px, true);
                    @include resa('height', 48px);
                }

                &:last-child {
                    padding-right: 0;
                }

                .slide-container {
                    @include res('width', 64px);
                    @include res('height', 64px);
                    border: solid #B8C4D7;
                    @include res('border-width', 1px);
                    @include res('border-radius', 12px);
                    background-color: #fff;
                    overflow: hidden;

                    @include media(576){
                        @include resa('width', 48px);
                        @include resa('height', 48px);
                        @include resa('border-width', 1px);
                        @include resa('border-radius', 12px);
                    }
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .swiper-wrapper{
            width: max-content;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
        }

        .swiper-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    &-right {
        height: 100%;
        background-color: white;
        position: relative;
        overflow: auto;
        @include res('width', 376px);
        @include res('height', 431px);
        @include res('border-radius', 24px);
        @include res('padding', 20px);

        @include media(576){
            @include resa('width', 376px);
            @include resa('height', 431px);
            @include resa('border-radius', 24px);
            @include resa('padding', 20px);
        }

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &-title {
        font-weight: 600;
        letter-spacing: -0.025em;
        text-align: left;
        @include res('font-size', 21px);
        @include res('line-weight', 20px);
        @include res('margin-bottom', 16px);

        @include media(576){
            @include resa('font-size', 21px);
            @include resa('line-weight', 20px);
            @include resa('margin-bottom', 16px);
        }
    }

    &-price {
        font-weight: 600;
        text-align: left;
        @include res('font-size', 17px);
        @include res('line-height', 24px);
        @include res('margin-bottom', 16px);
        @include res('letter-spacing', 0.2px);

        @include media(576){
            @include resa('font-size', 17px);
            @include resa('line-height', 24px);
            @include resa('margin-bottom', 16px);
            @include resa('letter-spacing', 0.2px);
        }
    }

    &-char {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        @include res('margin-bottom', 16px);

        @include media(576){
            @include resa('margin-bottom', 16px);
        }

        &__title {
            font-weight: 500;
            letter-spacing: -0.025em;
            text-align: left;
            @include res('font-size', 15px);
            @include res('line-height', 20px);
            @include res('margin-bottom', 12px);

            @include media(576){
                @include resa('font-size', 15px);
                @include resa('line-height', 20px);
                @include resa('margin-bottom', 12px);
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            @include res('gap', 8px);

            @include media(576){
                @include resa('gap', 8px);
            }

            li {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                p {
                    font-weight: 400;
                    letter-spacing: -0.025em;
                    text-align: left;
                    color: #B8C4D7;
                    @include res('font-size', 14px);
                    @include res('line-height', 16.8px);

                    @include media(576){
                        @include resa('font-size', 14px);
                        @include resa('line-height', 16.8px);
                    }

                    span {
                        color: black;
                        @include res('margin-left', 8px);

                        @include media(576){
                            @include resa('margin-left', 8px);
                        }
                    }
                }
            }
        }
    }

    &-download {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        font-weight: 400;
        letter-spacing: -0.025em;
        text-align: left;
        @include res('font-size', 14px);
        @include res('line-height', 20px);

        @include media(576){
            @include resa('font-size', 14px);
            @include resa('line-height', 20px);
        }

        svg {
            @include res('width', 20px);
            @include res('height', 20px);
            @include res('margin-left', 8px);

            @include media(576){
                @include resa('width', 20px);
                @include resa('height', 20px);
                @include resa('margin-left', 8px);
            }
        }
    }

    &-btn {
        background-color: #2AA02C;
        box-shadow: 0px 4px 16px 0px #0000001F;
        color: white;
        font-weight: 500;
        letter-spacing: 0.20000000298023224px;
        position: sticky;
        bottom: 0;
        @include res('width', 336px);
        @include res('padding', 12px);
        @include res('padding-left', 58px);
        @include res('padding-right', 58px);
        @include res('border-radius', 44px);
        @include res('font-size', 15px);
        @include res('line-height', 20px);
        @include res('margin-top', 20px);

        @include media(576){
            @include resa('width', 336px);
            @include resa('padding', 12px);
            @include resa('padding-left', 58px);
            @include resa('padding-right', 58px);
            @include resa('border-radius', 44px);
            @include resa('font-size', 15px);
            @include resa('line-height', 20px);
            @include resa('margin-top', 20px);
        }
    }
}
