mixin about()
    .about 
        .about__topbar
            span O компании
            a(href="#") Посмотреть каталог
                img(src="@img/arrow-right.svg", alt="arrow")
        .about__main 
            div.about__main-top
                //- div.about__main-top-text
                //-     span.about__main-text Вся наша продукция прошла обязательную
                //-     span.about__main-subtext сертификацию
                //-     span.about__main-text и соответствует самым
                //-     span.about__main-subtext высоким
                //-     span.about__main-text стандартам
                p.about__main-top-text
                    | Вся наша продукция прошла обязательную 
                    span.about__main-subtext сертификацию
                    |  и соответствует самым 
                    span.about__main-subtext высоким
                    |  стандартам
                .about__main-card
                    img(src="@img/Mask group.png", alt="")
                    p Информационные киоски
            div.about__main-bottom
                .about__main-card
                    img(src="@img/laptop2.png", alt="")
                    p Сенсорные панели
                .about__main-card
                    img(src="@img/laptop3.png", alt="")
                    p INtel core процессоры
                .about__main-card
                    img(src="@img/laptop4.png", alt="")
                    p Мобильные стенды