mixin about()
    .about 
        .about__topbar
            span O компании
            a(href="#") Посмотреть каталог
                img(src="@img/arrow-right.svg", alt="arrow" draggable="false")
        .about__main 
            p.about__main-item
                | Вся наша продукция прошла обязательную 
                span.about__main-subtext сертификацию
                |  и соответствует самым 
                span.about__main-subtext высоким
                |  стандартам
            a(href="#").about__more Посмотреть каталог
                img(src="@img/arrow-right.svg", alt="arrow")
            .about__main-item
                    img(src="@img/Mask group.png", alt="").about__main-card-img
                    p Информационные киоски                
            .about__main-item
                img(src="@img/laptop2.png", alt="").about__main-card-img
                p Сенсорные панели
            .about__main-item
                img(src="@img/laptop3.png", alt="").about__main-card-img
                p INtel core процессоры
            .about__main-item
                img(src="@img/laptop4.png", alt="").about__main-card-img
                p Мобильные стенды

            //- div.about__main-top
            //-     p.about__main-top-text
            //-         | Вся наша продукция прошла обязательную 
            //-         span.about__main-subtext сертификацию
            //-         |  и соответствует самым 
            //-         span.about__main-subtext высоким
            //-         |  стандартам
            //-     .about__main-card
            //-         img(src="@img/Mask group.png", alt="").about__main-card-img
            //-         p Информационные киоски
            //- div.about__main-bottom
            //-     .about__main-card
            //-         img(src="@img/laptop2.png", alt="").about__main-card-img
            //-         p Сенсорные панели
            //-     .about__main-card
            //-         img(src="@img/laptop3.png", alt="").about__main-card-img
            //-         p INtel core процессоры
            //-     .about__main-card
            //-         img(src="@img/laptop4.png", alt="").about__main-card-img
            //-         p Мобильные стенды