mixin footer()
    footer.footer   
        .footer__body.container 
            div.footer__top
                div.footer__item
                    a(href="#") 
                        img(src="@img/logowhite.svg", alt="logo" draggable="false").footer__item-subimg
                    p.footer__item-subtext © 2019 - 2024
                    a(href="#").footer__item-keypix
                        img(src="@img/keypix.svg", alt="" draggable="false").footer__item-img
                    p.footer__item-text Разработка сайтов
                div.footer__info
                    p.footer__info-title Меню
                    a(href="#") Главная
                    a(href="#") Каталог
                    a(href="#") О компании
                    a(href="#") Контакты
                div.footer__info
                    p.footer__info-title Соц. сети
                    a(href="https://instagram.com/intouch.uz" target="_blank") 
                        img(src="@img/ri_instagram-fill.svg", alt="" draggable="false")
                        p Instagram
                    a(href="https://t.me/intouch_uzb" target="_blank") 
                        img(src="@img/ri_telegram-fill.svg", alt="" draggable="false")
                        p Telegram
            .footer__bottom 
                p Все права защищены.
                a(href="#") Политика конфиденциальности
            .footer__mobile 
                img(src="@img/INTOUCH.svg", alt="" draggable="false").footer__mobile-img
                p.footer__mobile-text Вся наша продукция прошла обязательную сертификацию и соответствует самым высоким стандартам
                div.footer__mobile-info
                    span Адрес
                    p г. Ташкент, Юнусабадский район, 2-й проезд Турккургон 2
                div.footer__mobile-info
                    span Контакты
                    a(href="tel:+998980009999") +998 91 172-99-99
                    a(href="tel:+998993559999") +998 90 172-99-99
                div.footer__mobile-info
                    span Время работы
                    p Пн. – Сб.: с 9:00 до 18:00
                div.footer__mobile-info
                    span Почта
                    p info@in-touch.uz
                div.footer__mobile-info
                    span Мы в соц. сетях
                    div.footer__mobile-links
                        a(href="https://instagram.com/intouch.uz" target="_blank") 
                            img(src="@img/insta.svg", alt="" draggable="false")
                        a(href="https://t.me/intouch_uzb" target="_blank") 
                            img(src="@img/tg.svg", alt="" draggable="false")
                a(href="https://keypix.uz" target="_blank").footer__mobile-bottom
                    img(src="@img/keypix.svg", alt="" draggable="false")
                    p Разработка сайтов
                    
                