mixin footer()
    footer.footer   
        .popup#form 
            .popup__overlay.close-popup 
            .popup__content 
                .form__container.container
                    .form__content.fd 
                        .form__bg 
                            img(src="@img/formbg.svg", alt="" draggable="false")
                        .form__left 
                            h2.form__title Остались вопросы, Мы с радостью Вам поможем!
                        form(action="#").form__right 
                            input(type="text" placeholder="Ваше имя").form__input 
                            input(type="text" placeholder="+998").form__input 
                            a(href="index.html#form").form__btn Заказать звонок 
                            p.form__link Нажимая на кнопку Вы даете согласие на обработку персональных данных и соглашаетесь с <a href="privacy.html">политикой конфиденциальности</a>
        .popup#product 
            .popup__overlay.close-popup 
            .popup__product 
                .popup__product-content 
                    .popup__product-slider 
                        .popup__product-swiper.swiper 
                            .popup__product-wrapper.swiper-wrapper
                                .popup__product-slide.swiper-slide 
                                    img(src="@img/slide-1.png", alt="" draggable="false")
                                .popup__product-slide.swiper-slide 
                                    img(src="@img/slide-2.png", alt="" draggable="false")
                                .popup__product-slide.swiper-slide 
                                    img(src="@img/slide-1.png", alt="" draggable="false")
                                .popup__product-slide.swiper-slide 
                                    img(src="@img/slide-2.png", alt="" draggable="false")
                                .popup__product-slide.swiper-slide 
                                    img(src="@img/slide-1.png", alt="" draggable="false")
                                .popup__product-slide.swiper-slide 
                                    img(src="@img/slide-2.png", alt="" draggable="false")
                        div(class="popup__product-thumbs swiper" thumbsSlider="")
                            .popup__product-wrapper.swiper-wrapper 
                                .popup__product-slide.swiper-slide 
                                    img(src="@img/slide-1.png", alt="" draggable="false")
                                .popup__product-slide.swiper-slide 
                                    img(src="@img/slide-2.png", alt="" draggable="false")
                                .popup__product-slide.swiper-slide 
                                    img(src="@img/slide-1.png", alt="" draggable="false")
                                .popup__product-slide.swiper-slide 
                                    img(src="@img/slide-2.png", alt="" draggable="false")
                                .popup__product-slide.swiper-slide 
                                    img(src="@img/slide-1.png", alt="" draggable="false")
                                .popup__product-slide.swiper-slide 
                                    img(src="@img/slide-2.png", alt="" draggable="false")
                    .popup__product-info 
                        p.popup__product-title Сенсорная панель intouch INT 55
                        .popup__product-scroll  
                            p.popup__product-p Диагональ экрана: 85 дюймов<br>Максимальное разрешение: 3840 х 2160 UHD 4К<br>Активный размер: 1895 × 1 066<br>Технология сенсора: Инфракрасная до 20 касаний<br>Экран: Антивандальное матовое стекло<br>Операционная система: Windows 10/ Android 9 (RAM - 3 GB DDR4. ROM- 32 GB)<br>Габаритные размеры: 1953 мм × 1152 мм × 88 мм<br>Комплектация: Пульт, Магнитные ручки, Кабель питания, Инструкция, 3х Антенная Wi-Fi, Настенное крепление
                        button(type="button" data-target="form").open-popup.popup__product-btn Узнать цену 
        .footer__body.container
            .footer__content
                .footer__list
                    .footer__col
                        p.footer__col-title
                            img(src="@img/logo-white.svg", alt="" draggable="false")
                        p.footer__cp © 2019 - 2024
                    .footer__col
                        p.footer__col-title Меню
                        .footer__col-list 
                            a(href="index.html#intro").footer__col-link Главная
                            a(href="catalog.html").footer__col-link Каталог
                            a(href="index.html#about").footer__col-link О компании
                            a(href="#contacts").footer__col-link Контакты
                    .footer__col
                    .footer__col
                        p.footer__col-title Соц. сети
                        .footer__col-list 
                            a(href="https://www.instagram.com/intouch.uz/" target="_blank").footer__col-link Instagram
                            a(href="https://t.me/intouch_uzb" target="_blank").footer__col-link Telegram 
                .footer__info 
                    a(href="https://mercurylab.uz" target="_blank").footer__info-item 
                        .footer__info-item-img 
                            img(src="@img/mercury.svg", alt="" draggable="false")
                        p.footer__info-item-title Разработка сайтов
            .footer__bot
                .footer__bot-link
                    p Все права защищены. 
                .footer__bot-link
                    a(href="privacy.html") Политика конфиденциальности