mixin header()
    header.header
        div.container
            div.header__main
                div.header__inner 
                    button.header__inner-burger
                        img(src="@img/burger.svg", alt="")
                    a(href="#") 
                        img(src="@img/logowhite.svg", alt="logo" draggable="false").header__logo
                    nav.header__nav
                        a(href="#") Продуктыa
                        a(href="#") О компании
                        a(href="#") Контакты
                button.header__btn Заказать звонок