mixin header()
    header.header
        div.container
            div.header__main
                div.header__inner 
                    img(src="../assets/imgs/image.png", alt="logo")
                    nav.header__nav
                        a(href="#") Продуктыa
                        a(href="#") О компании
                        a(href="#") Контакты
                button.header__btn Заказать звонок