mixin header()
    header.header#main
        div.container
            div.header__main
                div.header__inner 
                    button.header__inner-burger
                        img(src="@img/burger.svg", alt="" draggable="false")
                    a(href="index.html#main") 
                        img(src="@img/logowhite.svg", alt="logo" draggable="false").header__logo
                    nav.header__nav
                        a(href="#!") Продукты
                        a(href="index.html#about") О компании
                        a(href="index.html#contacts") Контакты
                button.header__btn Заказать звонок
