mixin header()
    header.header#main
        div.container
            div.header__main
                div.header__inner 
                    button.header__button 
                        span.header__button-line 
                    a(href="index.html#main") 
                        img(src="@img/logowhite.svg", alt="logo" draggable="false").header__logo
                    nav.header__nav
                        a(href="catalog.html") Продукты
                        a(href="index.html#about") О компании
                        a(href="index.html#contacts") Контакты
                button.header__btn Заказать звонок
        .header__menu 
            a(href="catalog.html").header__menu-link Каталог 
            a(href="index.html#about").header__menu-link О компании
            a(href="index.html#reviews").header__menu-link Отзывы 
            a(href="index.html#partners").header__menu-link Партнеры 
            a(href="index.html#contacts").header__menu-link Контакты
            a(href="tel:+998980009999").mta.header__menu-link +998 91 172-99-99
            a(href="tel:+998993559999").header__menu-link +998 90 172-99-99