mixin hero()
    div.hero
        div.hero__title
            div.hero__inner
                div.hero__inner-content
                    p.hero__inner-text Лучшее
                    p.hero__inner-subtext качество
                p.hero__inner-info Широкий ассортимент интерактивных сенсорных панелей и экранов в Ташкенте
            p.hero__title-text только с нами
            p.hero__p Широкий ассортимент интерактивных сенсорных панелей и экранов в Ташкенте
        div.hero__main
            img(src="@img/image.png", alt="" draggable="false").hero__main-img
            div.hero__main-inner
                .hero__main-users-el 
                div.hero__main-users 
                    img(src="@img/people.png", alt="" draggable="false")
                    div 
                        p 12 000 +
                        span Довольных клиентов
                div.hero__main-info
                    img(src="@img/image (3).png", alt="IMG" draggable="false")
                    p Более 100 видов мониторов
