mixin intro()
    section.intro#intro
        .intro__container.container
            p.intro__tag Широкий ассортимент
            h1.intro__title Интерактивные <span class="primary">сенсорные панели</span> и экраны в Ташкенте
            p.intro__desc Новейшие технологии для вашего бизнеса 
            a(href="catalog.html").intro__btn Перейти в каталог 
        .func__marque 
            .func__marque-content 
                p.func__marque-p Интерактивные панели в <span>Ташкенте</span>
                p.func__marque-p Сенсорные экраны для <span>бизнеса</span>
                p.func__marque-p Лучшие интерактивные <span>решения</span>
                p.func__marque-p Сенсорные панели для <span>офиса</span>
                p.func__marque-p Интерактивные экраны – новый <span>уровень</span>
            .func__marque-content 
                p.func__marque-p Интерактивные панели в <span>Ташкенте</span>
                p.func__marque-p Сенсорные экраны для <span>бизнеса</span>
                p.func__marque-p Лучшие интерактивные <span>решения</span>
                p.func__marque-p Сенсорные панели для <span>офиса</span>
                p.func__marque-p Интерактивные экраны – новый <span>уровень</span>