mixin mission()
    .mission 
        .mission__topbar
            span Миссия компании
            a(href="#") Подробнее
                img(src="@img/arrow-right.svg", alt="arrow" draggable="false")
        .mission__main 
            div.mission__main-video
                img(src="@img/missionbg.webp", alt="" draggable="false").mission__main-img
                button.mission__main-play
                    img(src="@img/play.svg", alt="" draggable="false")
            p.mission__main-text Мы предлагаем максимальное удобство для пользователей с применением ориентированного на пользователя пк или андроид и предлагаем пользователям ценность надежности, основанной на точности и долговечности, добавленной к лучшей в мире технике.
            a(href="#").mission__more Подробнее
                img(src="@img/arrow-right.svg", alt="arrow" draggable="false") 