mixin mission()
    .mission 
        .mission__topbar
            span Миссия компании
            a(href="#") Подробнее
                img(src="@img/arrow-right.svg", alt="arrow")
        .mission__main 
            video(src="") 
                .mission__main-card
                    img(src="../assets/imgs/Mask group.png", alt="")
                    p Сенсорные панели
                .mission__main-card
                    img(src="../assets/imgs/Mask group.png", alt="")
                    p INtel core процессоры
                .mission__main-card
                    img(src="../assets/imgs/Mask group.png", alt="")
                    p Мобильные стенды