mixin partners()
    section.partners#partners 
        .partners__container.container 
            h2.partners__title НАМ ДОВЕРЯЮТ
            .partners__slider 
                .partners__swiper.swiper 
                    .partners__wrapper.swiper-wrapper
                        .partners__slide.swiper-slide 
                            img(src="@img/partner-1.svg", alt="" draggable="false")
                        .partners__slide.swiper-slide 
                            img(src="@img/partner-2.svg", alt="" draggable="false")
                        .partners__slide.swiper-slide 
                            img(src="@img/partner-3.svg", alt="" draggable="false")
                        .partners__slide.swiper-slide 
                            img(src="@img/partner-4.svg", alt="" draggable="false")
                        .partners__slide.swiper-slide 
                            img(src="@img/partner-5.svg", alt="" draggable="false")
                        .partners__slide.swiper-slide 
                            img(src="@img/partner-6.svg", alt="" draggable="false")
                        .partners__slide.swiper-slide 
                            img(src="@img/partner-7.svg", alt="" draggable="false")