mixin partners()
    .partners 
        .container
            .partners__topbar
                span Наши партнеры 
        div.partners__main 
            img(src="../img/company1.svg", alt="" draggable="false")
            img(src="../img/company2.svg", alt="" draggable="false")
            img(src="../img/company3.svg", alt="" draggable="false")
            img(src="../img/company4.svg", alt="" draggable="false")
            

            