mixin partners()
    .partners#partners 
        .container
            .partners__topbar
                span Наши партнеры 
        .partners__main 
            .partners__swiper.swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        img(src="@img/company1.svg", alt="" draggable="false")
                    .swiper-slide 
                        img(src="@img/company2.svg", alt="" draggable="false")
                    .swiper-slide 
                        img(src="@img/company3.svg", alt="" draggable="false")
                    .swiper-slide 
                        img(src="@img/company4.svg", alt="" draggable="false")