mixin platform()
    section.platform 
        .platform__container.container 
            h2.title.platform__title Наши преимущества
            p.platform__p Современные технологии, надежность, интуитивное использование
            .platform__content 
                .platform__item.active
                    span.platform__item-num 1
                    p.platform__item-title Высокая точность
                    p.platform__item-p Обеспечивает точное взаимодействие для работы
                .platform__item
                    span.platform__item-num 2
                    p.platform__item-title Удобство использования
                    p.platform__item-p Легко интегрируется в любой учебный или рабочий процесс
                .platform__item.two
                    span.platform__item-num 3
                    p.platform__item-title Интерактивность
                    p.platform__item-p Поддерживают мультитач для одновременной работы нескольких пользователей
                .platform__item
                    span.platform__item-num 4
                    p.platform__item-title Высокое разрешение
                    p.platform__item-p Четкое изображение для демонстрации контента
                .platform__item
                    span.platform__item-num 5
                    p.platform__item-title Надежность
                    p.platform__item-p Долговечные панели с высокой устойчивостью к повреждениям
                .platform__item.active
                    span.platform__item-num 6
                    p.platform__item-title Энергоэффективность
                    p.platform__item-p Экономное энергопотребление для длительного использования
                .platform__item
                    span.platform__item-num 7
                    p.platform__item-title Совместимость    
                    p.platform__item-p Работают с разными операционными системами