mixin popular() 
    section.popular#popular 
        .popular__container.container 
            p.intro__tag Популярные товары 
            h1.intro__title.popular__title Откройте мир интерактивных технологий 
            .popular__slider 
                .swiper.popular__swiper 
                    .swiper-wrapper.popular__wrapper 
                        .swiper-slide.popular__slide 
                            .popular__slide-img 
                                img(src="@img/slide-1.png", alt="" draggable="false")
                            p.popular__slide-title Сенсорная панель intouch INT 55
                            button(type="button" data-target="product").open-popup.popular__slide-btn Подробнее
                        .swiper-slide.popular__slide 
                            .popular__slide-img 
                                img(src="@img/slide-1.png", alt="" draggable="false")
                            p.popular__slide-title Сенсорная панель intouch INT 55
                            button(type="button" data-target="product").open-popup.popular__slide-btn Подробнее
                        .swiper-slide.popular__slide 
                            .popular__slide-img 
                                img(src="@img/slide-1.png", alt="" draggable="false")
                            p.popular__slide-title Сенсорная панель intouch INT 55
                            button(type="button" data-target="product").open-popup.popular__slide-btn Подробнее
                        .swiper-slide.popular__slide 
                            .popular__slide-img 
                                img(src="@img/slide-1.png", alt="" draggable="false")
                            p.popular__slide-title Сенсорная панель intouch INT 55
                            button(type="button" data-target="product").open-popup.popular__slide-btn Подробнее
                        .swiper-slide.popular__slide 
                            .popular__slide-img 
                                img(src="@img/slide-1.png", alt="" draggable="false")
                            p.popular__slide-title Сенсорная панель intouch INT 55
                            button(type="button" data-target="product").open-popup.popular__slide-btn Подробнее
            a(href="catalog.html").popular__btn Весь каталог 