mixin product()
    .product 
        .product__topbar
            span Продукты
        div.product__main 
            div.product__main-item
                img(src="@img/pr1.png", alt="" draggable="false")
            div.product__main-item
                img(src="@img/pr2.png", alt="" draggable="false")
            div.product__main-item
                img(src="@img/pr3.png", alt="" draggable="false")
            div.product__main-item
                img(src="@img/pr4.png", alt="" draggable="false")
                div 
                    img(src="../img/product.svg", alt="" draggable="false")
                    p Узнать больше

            