mixin product(img)
    button(type="button" data-target="product").open-popup.popular__slide.product
        .popular__slide-img 
            img(src=`@img/${img}`, alt="" draggable="false")
        p.popular__slide-price Цена: <span>Договорная</span>
        p.popular__slide-title Сенсорная панель intouch INT 55
        .popular__slide-btn Подробнее

mixin products()
    section.products
        .products__container.container 
            p.intro__tag Каталог
            h1.intro__title.products__title Выбирайте <span class="primary">лучшие интерактивные</span> решения с нашим <span>каталогом</span>
            .products__cats 
                button(type="button" data-target="content1").products__cat.active Сенсорные панели
                button(type="button" data-target="content2").products__cat Сенсорные информационные киоски
                button(type="button" data-target="content3").products__cat Мобильный стенд
                button(type="button" data-target="content4").products__cat Процессор 
            .products__content#content1.active 
                +product('slide-1.png')
                +product('slide-2.png')
                +product('slide-3.jpg')
                +product('slide-4.jpg')
                +product('slide-1.png')
                +product('slide-2.png')
                +product('slide-3.jpg')
                +product('slide-4.jpg')
            .products__content#content2 
                +product('slide-4.jpg')
                +product('slide-1.png')
                +product('slide-3.jpg')
                +product('slide-2.png')
                +product('slide-4.jpg')
                +product('slide-1.png')
                +product('slide-3.jpg')
                +product('slide-2.png')
            .products__content#content3
                +product('slide-1.png')
                +product('slide-2.png')
                +product('slide-3.jpg')
                +product('slide-4.jpg')
                +product('slide-1.png')
                +product('slide-2.png')
                +product('slide-3.jpg')
                +product('slide-4.jpg')
            .products__content#content4
                +product('slide-4.jpg')
                +product('slide-1.png')
                +product('slide-3.jpg')
                +product('slide-2.png')
                +product('slide-4.jpg')
                +product('slide-1.png')
                +product('slide-3.jpg')
                +product('slide-2.png')