mixin reviews()
    section.reviews 
        .reviews__container.container 
            p.intro__tag.reviews__tag Отзывы
            h1.intro__title.popular__title.reviews__title Что <span>говорят о нас</span> наши <span class="primary">клиенты</span> 
            .reviews__slider 
                .reviews__swiper.swiper
                    .reviews__wrapper.swiper-wrapper    
                        .reviews__slide.swiper-slide
                            p.reviews__slide-name Дустмухамедов Шавкат
                            .reviews__slide-p 
                                .reviews__slide-el 
                                    <svg width="58" height="44" viewBox="0 0 58 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3" d="M14.349 44.0002C5.449 44.0002 0 35.4635 0 25.4736C0 10.0348 9.62657 0.771465 25.6103 0.408203V8.94498C13.9858 9.12661 10.3531 17.3001 10.3531 23.4757C10.3531 24.3838 10.3531 25.1104 10.5347 25.8369C11.9878 24.3838 14.5307 23.6573 16.7103 23.6573C22.1593 23.6573 26.3369 26.9267 26.3369 33.4655C26.3369 39.4594 21.9777 44.0002 14.349 44.0002ZM45.7716 44.0002C36.8716 44.0002 31.4226 35.4635 31.4226 25.4736C31.4226 10.0348 41.0492 0.771465 57.0329 0.408203V8.94498C45.4084 9.12661 41.7757 17.3001 41.7757 23.4757C41.7757 24.3838 41.7757 25.1104 41.9573 25.8369C43.4104 24.3838 45.9533 23.6573 48.1329 23.6573C53.5819 23.6573 57.7595 26.9267 57.7595 33.4655C57.7595 39.4594 53.4002 44.0002 45.7716 44.0002Z" fill="#A1A1A0"/>
                                    </svg>
                                | Заказывал в этом магазине сенсорную панель. Доставили быстро. Качеством очень доволен. Цены приятно порадовали.
                                .reviews__slide-el 
                                    <svg width="46" height="35" viewBox="0 0 46 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3" d="M34.5803 0.62953C41.5142 0.62953 45.7595 7.28047 45.7595 15.0635C45.7595 27.0918 38.2595 34.3088 25.8067 34.5918V27.9409C34.8633 27.7993 37.6935 21.4314 37.6935 16.6201C37.6935 15.9125 37.6935 15.3465 37.552 14.7805C36.4199 15.9125 34.4388 16.4786 32.7407 16.4786C28.4954 16.4786 25.2407 13.9314 25.2407 8.83708C25.2407 4.16727 28.6369 0.62953 34.5803 0.62953ZM10.0991 0.62953C17.0331 0.62953 21.2784 7.28047 21.2784 15.0635C21.2784 27.0918 13.7784 34.3088 1.32556 34.5918V27.9409C10.3822 27.7993 13.2124 21.4314 13.2124 16.6201C13.2124 15.9125 13.2124 15.3465 13.0708 14.7805C11.9388 15.9125 9.95764 16.4786 8.25952 16.4786C4.01424 16.4786 0.759519 13.9314 0.759519 8.83708C0.759519 4.16727 4.15575 0.62953 10.0991 0.62953Z" fill="#A1A1A0"/>
                                    </svg>   
                        .reviews__slide.swiper-slide
                            p.reviews__slide-name Дустмухамедов Шавкат
                            .reviews__slide-p 
                                .reviews__slide-el 
                                    <svg width="58" height="44" viewBox="0 0 58 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3" d="M14.349 44.0002C5.449 44.0002 0 35.4635 0 25.4736C0 10.0348 9.62657 0.771465 25.6103 0.408203V8.94498C13.9858 9.12661 10.3531 17.3001 10.3531 23.4757C10.3531 24.3838 10.3531 25.1104 10.5347 25.8369C11.9878 24.3838 14.5307 23.6573 16.7103 23.6573C22.1593 23.6573 26.3369 26.9267 26.3369 33.4655C26.3369 39.4594 21.9777 44.0002 14.349 44.0002ZM45.7716 44.0002C36.8716 44.0002 31.4226 35.4635 31.4226 25.4736C31.4226 10.0348 41.0492 0.771465 57.0329 0.408203V8.94498C45.4084 9.12661 41.7757 17.3001 41.7757 23.4757C41.7757 24.3838 41.7757 25.1104 41.9573 25.8369C43.4104 24.3838 45.9533 23.6573 48.1329 23.6573C53.5819 23.6573 57.7595 26.9267 57.7595 33.4655C57.7595 39.4594 53.4002 44.0002 45.7716 44.0002Z" fill="#A1A1A0"/>
                                    </svg>
                                | Заказывал в этом магазине сенсорную панель. Доставили быстро. Качеством очень доволен. Цены приятно порадовали.
                                .reviews__slide-el 
                                    <svg width="46" height="35" viewBox="0 0 46 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3" d="M34.5803 0.62953C41.5142 0.62953 45.7595 7.28047 45.7595 15.0635C45.7595 27.0918 38.2595 34.3088 25.8067 34.5918V27.9409C34.8633 27.7993 37.6935 21.4314 37.6935 16.6201C37.6935 15.9125 37.6935 15.3465 37.552 14.7805C36.4199 15.9125 34.4388 16.4786 32.7407 16.4786C28.4954 16.4786 25.2407 13.9314 25.2407 8.83708C25.2407 4.16727 28.6369 0.62953 34.5803 0.62953ZM10.0991 0.62953C17.0331 0.62953 21.2784 7.28047 21.2784 15.0635C21.2784 27.0918 13.7784 34.3088 1.32556 34.5918V27.9409C10.3822 27.7993 13.2124 21.4314 13.2124 16.6201C13.2124 15.9125 13.2124 15.3465 13.0708 14.7805C11.9388 15.9125 9.95764 16.4786 8.25952 16.4786C4.01424 16.4786 0.759519 13.9314 0.759519 8.83708C0.759519 4.16727 4.15575 0.62953 10.0991 0.62953Z" fill="#A1A1A0"/>
                                    </svg>   
                        .reviews__slide.swiper-slide
                            p.reviews__slide-name Дустмухамедов Шавкат
                            .reviews__slide-p 
                                .reviews__slide-el 
                                    <svg width="58" height="44" viewBox="0 0 58 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3" d="M14.349 44.0002C5.449 44.0002 0 35.4635 0 25.4736C0 10.0348 9.62657 0.771465 25.6103 0.408203V8.94498C13.9858 9.12661 10.3531 17.3001 10.3531 23.4757C10.3531 24.3838 10.3531 25.1104 10.5347 25.8369C11.9878 24.3838 14.5307 23.6573 16.7103 23.6573C22.1593 23.6573 26.3369 26.9267 26.3369 33.4655C26.3369 39.4594 21.9777 44.0002 14.349 44.0002ZM45.7716 44.0002C36.8716 44.0002 31.4226 35.4635 31.4226 25.4736C31.4226 10.0348 41.0492 0.771465 57.0329 0.408203V8.94498C45.4084 9.12661 41.7757 17.3001 41.7757 23.4757C41.7757 24.3838 41.7757 25.1104 41.9573 25.8369C43.4104 24.3838 45.9533 23.6573 48.1329 23.6573C53.5819 23.6573 57.7595 26.9267 57.7595 33.4655C57.7595 39.4594 53.4002 44.0002 45.7716 44.0002Z" fill="#A1A1A0"/>
                                    </svg>
                                | Заказывал в этом магазине сенсорную панель. Доставили быстро. Качеством очень доволен. Цены приятно порадовали.
                                .reviews__slide-el 
                                    <svg width="46" height="35" viewBox="0 0 46 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3" d="M34.5803 0.62953C41.5142 0.62953 45.7595 7.28047 45.7595 15.0635C45.7595 27.0918 38.2595 34.3088 25.8067 34.5918V27.9409C34.8633 27.7993 37.6935 21.4314 37.6935 16.6201C37.6935 15.9125 37.6935 15.3465 37.552 14.7805C36.4199 15.9125 34.4388 16.4786 32.7407 16.4786C28.4954 16.4786 25.2407 13.9314 25.2407 8.83708C25.2407 4.16727 28.6369 0.62953 34.5803 0.62953ZM10.0991 0.62953C17.0331 0.62953 21.2784 7.28047 21.2784 15.0635C21.2784 27.0918 13.7784 34.3088 1.32556 34.5918V27.9409C10.3822 27.7993 13.2124 21.4314 13.2124 16.6201C13.2124 15.9125 13.2124 15.3465 13.0708 14.7805C11.9388 15.9125 9.95764 16.4786 8.25952 16.4786C4.01424 16.4786 0.759519 13.9314 0.759519 8.83708C0.759519 4.16727 4.15575 0.62953 10.0991 0.62953Z" fill="#A1A1A0"/>
                                    </svg>
                .reviews__pagination.swiper-pagination 