mixin whyus()
    .whyus 
        .whyus__topbar
            span Почему мы?
        .whyus__main 
            .whyus__card 
                h2.whyus__card-title Высшее качество
                p.whyus__card-text Вся наша продукция прошла обязательную сертификацию и соответствует самым высоким стандартам
                .whyus__card-info 
                    img(src="@img/done.svg", alt="done" draggable="false")
                    span Композитные материалы
                .whyus__card-info 
                    img(src="@img/done.svg", alt="done" draggable="false")
                    span Отличная сборка
                .whyus__card-info 
                    img(src="@img/done.svg", alt="done" draggable="false")
                    span Гарантия товара на 3 года
                a(href="#!").whyus__card-link
                    img(src="@img/market.svg", alt="" draggable="false")
                    span Посмотреть каталог
            .whyus__card    
                h2.whyus__card-title Оплата
                p.whyus__card-text Вся наша продукция прошла обязательную сертификацию и соответствует самым высоким стандартам
                .whyus__card-info
                    img(src="@img/done.svg", alt="done" draggable="false")
                    span Композитные материалы
                .whyus__card-info
                    img(src="@img/done.svg", alt="done" draggable="false")
                    span Отличная сборка
                .whyus__card-info
                    img(src="@img/done.svg", alt="done" draggable="false")
                    span Гарантия товара на 3 года
                a(href="#!").whyus__card-link
                    img(src="@img/market.svg", alt="" draggable="false")
                    span Посмотреть каталог
            .whyus__card    
                h2.whyus__card-title Скидка
                p.whyus__card-text Вся наша продукция прошла обязательную сертификацию и соответствует самым высоким стандартам
                .whyus__card-info
                    img(src="@img/done.svg", alt="done" draggable="false")
                    span Композитные материалы
                .whyus__card-info
                    img(src="@img/done.svg", alt="done" draggable="false")
                    span Отличная сборка
                .whyus__card-info
                    img(src="@img/done.svg", alt="done" draggable="false")
                    span Гарантия товара на 3 года
                a(href="#!").whyus__card-link
                    img(src="@img/market.svg", alt="" draggable="false")
                    span Посмотреть каталог
        .whyus__slider 
            .swiper.whyus__swiper 
                .swiper-wrapper 
                    .swiper-slide.whyus__card 
                        h2.whyus__card-title Высшее качество
                        p.whyus__card-text Вся наша продукция прошла обязательную сертификацию и соответствует самым высоким стандартам
                        .whyus__card-info 
                            img(src="@img/done.svg", alt="done" draggable="false")
                            span Композитные материалы
                        .whyus__card-info 
                            img(src="@img/done.svg", alt="done" draggable="false")
                            span Отличная сборка
                        .whyus__card-info 
                            img(src="@img/done.svg", alt="done" draggable="false")
                            span Гарантия товара на 3 года
                        a(href="#!").whyus__card-link
                            img(src="@img/market.svg", alt="" draggable="false")
                            span Посмотреть каталог 
                    .swiper-slide.whyus__card    
                        h2.whyus__card-title Оплата
                        p.whyus__card-text Вся наша продукция прошла обязательную сертификацию и соответствует самым высоким стандартам
                        .whyus__card-info
                            img(src="@img/done.svg", alt="done" draggable="false")
                            span Композитные материалы
                        .whyus__card-info
                            img(src="@img/done.svg", alt="done" draggable="false")
                            span Отличная сборка
                        .whyus__card-info
                            img(src="@img/done.svg", alt="done" draggable="false")
                            span Гарантия товара на 3 года
                        a(href="#!").whyus__card-link
                            img(src="@img/market.svg", alt="" draggable="false")
                            span Посмотреть каталог
                    .swiper-slide.whyus__card 
                        h2.whyus__card-title Скидка
                        p.whyus__card-text Вся наша продукция прошла обязательную сертификацию и соответствует самым высоким стандартам
                        .whyus__card-info
                            img(src="@img/done.svg", alt="done" draggable="false")
                            span Композитные материалы
                        .whyus__card-info
                            img(src="@img/done.svg", alt="done" draggable="false")
                            span Отличная сборка
                        .whyus__card-info
                            img(src="@img/done.svg", alt="done" draggable="false")
                            span Гарантия товара на 3 года
                        a(href="#!").whyus__card-link
                            img(src="@img/market.svg", alt="" draggable="false")
                            span Посмотреть каталог 
                .swiper-pagination.whyus-pagination 
            