// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
    background-color: $black;
}

.d-flex {
    display: flex;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    color: inherit;
}
ul{
    list-style-type: none;
}
body{
    font-size: 16px;
    width: 100%;
    overflow-x: hidden;
}
.container{
    margin-left: auto;
    margin-right: auto;
    @include res('width', 1194px);
    @include media(576){
        @include resa('width', 360px);
    }
}
.title{
    @include res('font-size', 32px);
    @include media(576){
        @include resa('font-size', 24px);
    }
}
.catalog{
    @include res("padding-top", 50px);
    &__title{
        font-weight: 600;
        line-height: 120%;
        color: #fff;
        @include res('margin-bottom', 24px);
        @include res('font-size', 32px);
    }
    &__menu{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include res('gap', 12px);
        @include res('margin-bottom', 24px);
    }
    &__btn{
        background: #FFFFFF;
        text-transform: uppercase;
        border: solid #6183A280;
        @include res('border-width', 1px);
        @include res('border-radius', 46px);
        @include res('font-size', 16px);
        @include res('padding-top', 12px);
        @include res('padding-bottom', 12px);
        @include res('padding-left', 16px);
        @include res('padding-right', 16px);
        &.active{
            background: #297FFF;
            color: #fff;
            border-color: #fff;
        }
    }
    &__item{
        @include res('width', 360px);
        &-img{
            aspect-ratio: 16/9;
            line-height: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}